.sectionTitle {
  font-size: 56px !important;
  text-align: center;
  text-transform: uppercase;
}

.section {
  padding: 40px;
  padding-top: 0;
}

.product {
  margin-bottom: 48px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    width: calc(33.3333% - 10px);
    padding: 24px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 13, 131, 0.18);

    &__content {
      display: flex;
      justify-content: center;
    }

    &__descr {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &__title {
      text-align: center;
      color: #3498db;
      font-size: 40px;
      font-weight: 600;
    }

    &__subtitle {
      text-align: center;
      color: #3498db;
      font-size: 20px;
      font-weight: 500;
      line-height: normal;
    }

    &__button {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: 100%;
      padding: 8px;
      border-radius: 12px;
      border: 1px solid #3498db;
      background: #fff;
      color: #3498db;
      font-family: Gilroy;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      transition: 0.3s all;

      // svg {
      //   width: 32px;
      //   height: 32px;
      // }
    }
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
